/*
color: #DDD0D7
linear-gradient(rgba(178, 207, 226, 0.5), rgba(178, 207, 226, 0.5))
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Crimson Text", serif;
  --ff-secondary: "Amiri", serif;

  --fw-reg: 300;
  --fw-bold: 500;

  --clr-light: #fdfefe;
  --clr-text: #000103;
  --clr-accent1: #e8dbdc;
  --clr-accent2: #b2cfe2;

  --fs-h1: 3rem;
  --fs-h2: 2.15rem;
  --fs-h3: 1.1rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.25rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.125rem;
  }
}

/* general styles */

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

body {
  background: var(--clr-light);
  color: var(--clr-text);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.8;
}

html, body, #root {
  height: 100%;
  width: 100%
}

strong {
  font-weight: var(--fw-bold);
}

hr {
  width: 40%;
  margin-bottom: 4em;
  margin-top: 5em;
}

/* Typography */

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-secondary);
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

img {
  display: block;
  max-width: 100%;
}

.title{
  margin-bottom: 1.5em;
}

.subtitle {
  margin: 0;
}

.subtitle--intro {
  margin-bottom: 1em;
  background: var(--clr-accent2);
  padding: 0.5em 0.8em 0.4em 1em;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 150px;
}

.nav {
  position: fixed;
  background: var(--clr-accent2);
  top: 0;
  right: 0;
  z-index: 100;
  left: 65%;
  height: 100vh;
  transform: translateX(100%);
  box-shadow: var(--bs);
  transition: transform 600ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 0;
  align-items: center;
}

.nav__link {
  color: inherit;
  font-size: var(--fs-h2);
  text-decoration: none;
  transition: color 600ms ease;
}

.nav__link:hover {
  color: #5B6973;
}

.nav-toggle {
  padding: 0.25em;
  background: transparent;
  border: 0;
  position: fixed;
  right: 1em;
  z-index: 1000;
  top: 3em;
  outline: none;
}

@media(min-width: 650px) {
  .nav-toggle{
    right: 2em;
  }
}

.nav__open.nav {
  transform: translateX(0%);
}

.nav__open.nav-toggle {
  position: fixed;
}

.nav__open.hamburger {
  transform: rotate(45deg);
  background: var(--clr-text);
}

.nav__open.hamburger::before {
  background: var(--clr-text);
  transform: rotate(90deg) translateX(-14px);
}

.nav__open.hamburger:hover {
  transform: rotate(225deg);
}

.nav__open.hamburger:hover::before {
  transform: rotate(90deg) translateX(-14px);
}


.hamburger {
  display: block;
  position: relative;
}

.hamburger:hover {
  transform: rotate(180deg)
}

.hamburger,
.hamburger::before {
  background: var(--clr-text);
  width: 2.5em;
  height: 3px;
  border-radius: 0.2em;
  transition: transform 400ms ease-in;
}

.hamburger::before {
  top: 14px;
}

.hamburger:hover::before{
  transform: translateY(-28px);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
/* intro section */
.intro {
  position: relative;
  padding: 5em 2em;
}

.title--intro {
  font-weight: var(--fw-reg);
}

.title--intro strong {
  display: block;
}

/*
.img--intro {
    box-shadow: var(--bs);
}
*/

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: max-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }
  .img--intro {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .subtitle--intro {
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
    font-weight: var(--fw-reg);
  }
}
/* About section */
.about {
  padding: 1em 2em 0;
}

.about--content {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  grid-column-gap: 2em;
}
.specialty {
  padding-top: 2em;
  display: block;
}
.strength--other,
.strength--main {
  width: 100%;
}

@media (min-width: 650px) {
  .about {
    padding: 0 15%;
  }

  .about--content {
    display: grid;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    grid-column-gap: 2em;
    grid-template-areas:
      "img subtitle "
      "img specialty ";
    grid-template-columns: min-content auto;
  }

  .img--about {
    min-width: 300px;
    min-height: 300px;
    grid-area: img;
    position: relative;
    background: linear-gradient(
        rgba(178, 207, 226, 0.28),
        rgba(178, 207, 226, 0.28)
      ),
      url("./asset/about.jpg");
    background-size: 100% 100%;
  }

  .specialty {
    padding-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .specialty--item {
    text-align: center;
  }


  .subtitle--about {
    margin-bottom: 3em;
  }
}

/* Project section */

.project {
  padding: 1em 2em 0;
}

.portfolio {
  margin: 0 auto;
}

@media (min-width: 650px){
  .project {
    padding: 0 15%;
  }
  .portfolio--item {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .odd {
    grid-template-areas: "img content";
  }

  .even {
    grid-template-areas: "content img";
  }

  .img--portfolio {
    grid-area: img;
    background-color: var(--clr-accent2);
    height: auto;
  }
}


.content--portfolio {
  padding: 2em 1em;
  text-align: center;
}
.title--portfolio {
  text-align: center;
  text-transform: capitalize ;
  letter-spacing: 1px;
}

.preview--btn {
  padding: 0.3em 0.7em 0.4em 0.85em;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  border-radius: 15px;
  background-color: rgba(178, 207, 226, 0.5);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  outline: none;
  border: none;
}

.preview--btn:hover {
  box-shadow: 1px 1px #3e59b3, 2px 2px #3e59b3, 3px 3px #3e59b3, 4px 4px #3e59b3;
  transform: translateX(-4px);
}

/* contact section */
.contact {
  padding: 1em 2em 4em;
}

@media (min-width: 650px) {
  .contact {
    padding: 0 15% 5em;
  }
  .contact--section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }


  .contact--details div{
    padding-right: 1em;
  }

  .giphy-embed {
    padding-bottom: 1em;
  }
}


.intro__btn{
  position:relative;
  display:inline-block;
  font-size:1.4rem;
  padding:.5rem;
  border:0;
  text-transform:uppercase;
  background-color:transparent;
  cursor:pointer;
  color:#fff;
  font-family:var(--ff-primary);
  font-weight:600;
  outline: none;
}

.intro__btn:after,
.intro__btn:before{
  background-color:transparent;
  content:"";
  display:block;
  position:absolute;
  height:calc(50% - .4rem);
  width:100%;
  border: 2px solid var(--clr-text);
  left:0
}

.intro__btn:before{
  border-bottom:0;
  top:0
}

.intro__btn:after{
  border-top:0;
  bottom:0
}

.intro__btn:hover::before, .intro__btn:hover::after {
  border: 2px solid #314F63;
}

.intro__btn:hover::before{
  border-bottom:0;
  top:0
}

.intro__btn:hover::after{
  border-top:0;
  bottom:0
}

.label{
  position:relative;
  overflow:hidden;
  margin:0;
  background-color: var(--clr-text);
}

.label:before{
  width:100%;
  left:0;
  bottom:0
}

.hover-effect,
.label:before{
  content:"";
  height:100%;
  display:block;
  position:absolute
}

.hover-effect{
  width:120%;
  top:0;
  left:-5%;
  z-index:1;
  background-color:#86a8bd;
  transform:translateX(-102%) skew(-20deg);
  transition:-webkit-transform .6s ease-out;
  transition:transform .7s ease-out
}

.intro__btn:hover .hover-effect{
  transform:translateX(0) skew(-15deg)
}

.label-text{
  position:relative;
  display:block;
  padding: 1.0rem 2rem;
  background-color:transparent;
  z-index:1
  }

.label-text:after{
  content:"";display:block;
  position:absolute;
  height:.6rem;
  width:.6rem;
  right:0;
  bottom:0;
  transition:background-color .2s ease-in
}

.cover {
  background-image: url(./asset/coverpage.jpg);
  background-size: cover;
  height: 100%; 
  padding: 90px 1em;
  color: var(--clr-text);
}

.cover h1{
  margin-top: 40%;
  margin-bottom: 40px;
}
@media(min-width: 350px) {
  .cover{
    padding: 90px 3em;
  }
}

@media(min-width: 650px) {
  .cover{
    padding: 90px 10%;
  }

  .cover h1{
    margin-top: 15%
  }
}

iframe {
    width: 250px;
    height: 200px;
}

@media (min-width: 650px) {
  iframe {
    width: 300px ;
    height: 200px;
  }
}