

body {
  font-family: 'Crimson Text', serif;
  text-align: center;
  font-size: 22px;
  padding: 2.5%;
  color: #001540;
}
h1, h2 , h3, h4, h5 {
  font-family: 'Source Serif Pro', serif;
}

a:link {
  color: black;
}
a:active {
  color: black;
}

button {
  color: #001540;

}

.bio {
  padding-left: 30%;
  text-align: left;
}
